dataset
__pycache__/
*.pt
PaGraph
parti_results/
.vscode/
tmp*.txt
PaRMAT/
*.txt
repgnn_data
dgl_src
tmp*
error.log
3rdparties/gcn
logs*
3rdparties/GCN.PyTorch
nohup.out
data.xlsx
log_analys.yaml
*.png